<ion-header>
  <ion-toolbar>
    <ion-row>
      <div>
        <ion-buttons class="backTop" slot="start">
          <ion-back-button icon="chevron-back-outline" defaultHref="login"></ion-back-button>
        </ion-buttons>
      </div>
      <ion-col class="mid">
        <ion-title class="title-header">Forgot Password</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="logo-div">
    <img src="../../../assets/images/confusion.png" alt="">
  </div>
  <h3 class="title-tutorial">Nhập Email của bạn</h3>
  <form>
    <div class="margin-bottom"></div>
    <ion-item class="input-item" lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <div class="margin-bottom"></div>

    <ion-row class="sign-in-row">
      <ion-col>
        <ion-button [disabled]="!signUpForm.valid&&!checkPassword(password, rePassword)" type="submit"
          (click)="sendPasswordReset()" expand="block">Send Link</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>