<ion-header>
  <ion-toolbar>
    <div>
      <ion-buttons class="backTop" slot="start">
        <ion-back-button icon="chevron-back-outline" defaultHref="tabs/home"></ion-back-button>
      </ion-buttons>
    </div>
    <ion-row>
      <ion-col class="mid">
        <ion-title class="title-header">Tôi</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="avatar-div">
    <div class="replace_avt_div">
      <ion-icon name="camera"></ion-icon>
    </div>
    <img src="{{photo}}" alt="">
    <ion-label>{{name}}</ion-label>
  </div>
  <ion-list>
    <ion-item (click)="openMyInfo()">
      <ion-icon name="person-circle" class="blue-sky-color"></ion-icon>
      <ion-label>Trang cá nhân</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="openBill()">
      <ion-icon name="newspaper" class="green-color"></ion-icon>
      <ion-label>Quản lý đơn hàng</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="openBill()">
      <ion-icon name="cart" class="red-light-color"></ion-icon>
      <ion-label>Sản phẩm đã mua</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="star" class="yellow-color"></ion-icon>
      <ion-label>Sản phẩm đã đánh giá</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="openProducer()">
      <ion-icon name="home" class="orange-color"></ion-icon>
      <ion-label>Thông tin nhà cung cấp</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="notifications-circle" class="purple-color"></ion-icon>
      <ion-label>Thông báo</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="chatbubbles" class="blue-sky-slight-color"></ion-icon>
      <ion-label>Chia sẻ phản hồi</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-row class="logout-row">
    <ion-col size="12">
      <ion-button expand="block" (click)=signOut()>Đăng xuất</ion-button>
    </ion-col>
  </ion-row>
</ion-content>