<ion-header>
  <ion-toolbar>
    <div>
      <ion-buttons class="backTop" slot="start">
        <ion-back-button icon="chevron-back-outline" defaultHref="tabs/home"></ion-back-button>
      </ion-buttons>
    </div>
    <ion-row>
      <ion-col class="mid">
        <ion-title class="title-header">Đơn hàng của tôi</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-col size="2">
      <ion-icon color="primary" name="newspaper-outline"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <ion-label class="title-bold">Mã đơn hàng: 838998960</ion-label>
      <ion-note class="font-note">
        Ngày đặt hàng: 00:03, 25/08/2020
      </ion-note>
      <ion-note class="font-note-bold">Giao hàng thành công</ion-note>
    </ion-col>
  </ion-item>
  <ion-item>
    <ion-col size="2">
      <ion-icon color="success" name="paw-outline"></ion-icon>
    </ion-col>
    <ion-col size="7">
      <ion-label class="title-bold">Theo dõi đơn hàng</ion-label>
      <ion-note class="font700">Giao hàng thành công</ion-note>
      <ion-note class="font-note">
        Ngày đặt hàng: 00:03, 25/08/2020
      </ion-note>
    </ion-col>
    <ion-col size="3">
      <ion-button fill="clear" color="primary" class="btn-detail">Xem chi tiết</ion-button>
    </ion-col>
  </ion-item>
  <ion-item>
    <ion-col size="2">
      <ion-icon color="danger" name="location-outline"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <ion-label class="title-bold">Địa chỉ người nhận</ion-label>
      <ion-note class="font-normal">
        Nguyễn Đức Hiếu
      </ion-note>
      <ion-note class="font-note">
        0865638117
      </ion-note>
      <ion-note class="font-note">
        104, Đông Anh 4, Thị trấn Nam Ban, Huyện Lâm Hà, Lâm Đồng
      </ion-note>
    </ion-col>
  </ion-item>
  <ion-item>
    <ion-col size="2">
      <ion-icon color="primary" name="albums-outline"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <ion-label class="title-bold">
        Thông Tin Kiện Hàng
      </ion-label>
    </ion-col>
  </ion-item>
  <ion-item>
    <ion-col size="4">
      <img src="../../../assets/images/background-img-organic.jpg" alt="">
    </ion-col>
    <ion-col size="8">
      <ion-note class="font-normal text-14 d-block">Những kẻ xuất chúng</ion-note>
      <ion-note class="font-note d-block">
        Cung cấp bởi Phương Đông
      </ion-note>
      <ion-note class="font-note d-block">
        Books
      </ion-note>
      <ion-label class="title-bold d-block">
        129.500 đ x1
      </ion-label>
    </ion-col>
  </ion-item>
  <ion-item>
    <ion-col size="2">
      <ion-icon color="primary" name="rocket-outline"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <ion-label class="title-bold">
        Hình Thức Giao Hàng
      </ion-label>
      <ion-note class="font-note">
        Giao hàng tiêu chuẩn
      </ion-note>
    </ion-col>
  </ion-item>
  <ion-item>
    <ion-col size="2">
      <ion-icon color="primary" name="wallet-outline"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <ion-label class="title-bold">
        Hình Thức Thanh Toán
      </ion-label>
      <ion-note class="font-note">
        Thanh toán tiền mặt khi nhận hàng
      </ion-note>
    </ion-col>
  </ion-item>
  <ion-item>
    <ion-col size="6">
      <ion-note class="font-note">
        Tạm tính
      </ion-note>
    </ion-col>
    <ion-col size="6" class="text-r">
      <ion-label class="title-bold">
        304.500 đ
      </ion-label>
    </ion-col>
  </ion-item>
  <ion-item>
    <ion-col size="6">
      <ion-note class="font-note">
        Phí vận chuyển
      </ion-note>
    </ion-col>
    <ion-col size="6" class="text-r">
      <ion-label class="title-bold">
        19.000 đ
      </ion-label>
    </ion-col>
  </ion-item>
  <ion-item>
    <ion-col size="6">
      <ion-note class="font-note">
        Tổng tiền
      </ion-note>
    </ion-col>
    <ion-col size="6" class="text-r">
      <ion-label class="font-big">
        304.500 đ
      </ion-label>
      <ion-label class="font700">
        Đã gồm VAT nếu có
      </ion-label>
    </ion-col>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-row class="row">
    <ion-button color="success" class="btn-footer">
      Mua lại
    </ion-button>
  </ion-row>

</ion-footer>