<ion-content>
  <div class="logo-div">
    <img src="../../../assets/images/vegetables.png" alt="">
    <ion-label>Sign in</ion-label>
  </div>

  <form>

    <ion-item class="input-item" lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>

    <div class="margin-bottom"></div>

    <ion-item class="input-item" lines="full">
      <ion-label position="floating">password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-row class="forgot-password-row">
      <ion-button class="sign-up-btn" fill="clear" routerLink="/forget-pass">
        Forgot password?
      </ion-button>
    </ion-row>

    <ion-row class="sign-in-row">
      <ion-col>
        <ion-button type="submit" (click)="logIn(email, password)" expand="block">Sign in</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="sign-up-row">
      <ion-col>
        <ion-button routerLink="/registration" expand="block" fill="outline">New? Create an account</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="login-with-row">
      <ion-col>
        <ion-button type="submit" color="danger" (click)="authService.GoogleAuth()" expand="block">
          <ion-icon name="logo-google"></ion-icon>Login with Google
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="login-with-row">
      <ion-col>
        <ion-button type="submit" color="primary" (click)="authService.FacebookAuth()" expand="block">
          <ion-icon name="logo-facebook"></ion-icon>Login with Facebook
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>