<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col class="mid">
        <ion-title class="title-header">Giao tới</ion-title>
        <ion-label size="small" class="text-14 d-none">Ký túc xá ĐH Đà Lạt</ion-label>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar #search placeholder='Tìm kiếm...' (ionChange)="_searchChange($event)"></ion-searchbar>
  <div class="advertise">
    <img src="../../../assets/images/advertise-vegetable-2.jpg" alt="">
  </div>
  <ion-item lines="none" class="mgb-10">
    <ion-row class="promotion-row">
      <ion-col size="8">
        <ion-label>Bạn có 27 ưu đãi mua sắm</ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-button id="btn-xem">Xem</ion-button>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-row class="index mgb-10">
    <ion-col size="3" class="col-index">
      <ion-card>
        <img src="../../../assets/images/discount.png" alt="">
        <ion-label class="index-title">Khuyến Mãi</ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="3" class="col-index">
      <ion-card>
        <img src="../../../assets/images/flash.png" alt="">
        <ion-label class="index-title">Bán Chạy</ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="3" class="col-index">
      <ion-card>
        <img src="../../../assets/images/salad.png" alt="">
        <ion-label class="index-title">Rau Củ</ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="3" class="col-index">
      <ion-card>
        <img src="../../../assets/images/grapes.png" alt="">
        <ion-label class="index-title">Trái Cây</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
  <div class="mgb-20 products" *ngFor="let collection of collections">
    <ion-item lines="none">
      <ion-row class="products-title-row">
        <ion-col size="8">
          <ion-label>{{collection.name}}</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-button fill="clear" class="text-bold" (click)="openProducts()">
            Xem tất cả
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-row class="list-img-products">
      <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let item of loadProductsCollection(collection.products)" (click)="viewDetail(item)">
          <ion-card class="ion-card">
            <img [src]="item.images[0]" alt="">
            <div>
              <ion-label class="title-products-label">{{item.name}}</ion-label>

              <div>
                <ion-label color="success">{{item.price}}đ</ion-label>
                <ion-note>/kg</ion-note>
                <ion-icon name="add-circle" style="z-index: 100000;" color="success"></ion-icon>
              </div>
            </div>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </div>
</ion-content>