<ion-header>
  <ion-toolbar>
    <ion-row>
      <div>
        <ion-buttons class="backTop" slot="start">
          <ion-back-button icon="chevron-back-outline" defaultHref="tabs/home"></ion-back-button>
        </ion-buttons>
      </div>
      <ion-col class="mid">
        <ion-title class="title-header">Giỏ hàng</ion-title>
        <!-- <ion-label size="small" class="text-14 d-none">Khoảng cách tới chỗ bạn: 1,9km</ion-label> -->
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-row lines="none" class="title-row">
      <ion-col>
        <ion-label class="title-content">Giao tới</ion-label>
      </ion-col>
    </ion-row>
    <ion-item class="location-item">
      <ion-row>
        <ion-col class="location-col" size="1">
          <ion-icon class="t-15rem" color="danger" name="location"></ion-icon>
        </ion-col>
        <ion-col size="10" class="">
          <ion-row>
            <ion-label class="title-bold">Ký túc xá ĐH Đà Lạt</ion-label>
          </ion-row>
          <ion-row>
            <ion-note class="">20, Lý Nam Đế, Phường 8, Thành Phố Đà Lạt, Lâm Đồng</ion-note>
          </ion-row>
        </ion-col>
        <ion-col size="1" class="icon-forward-col">
          <ion-button class="" fill="clear">
            <ion-icon name="chevron-forward-outline" class="mg-t5"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item lines="none" class="time-ship-item">
      <ion-row>
        <ion-col size="9">
          <ion-label class="">Thời gian giao</ion-label>
          <ion-label class="text-14">Giao ngay (30 phút)</ion-label>
        </ion-col>
        <ion-col size="3" class="fl-r3px">
          <ion-button class="btn-href" fill="clear" size="small">Thay đổi</ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-row lines="none" class="title-row">
    <ion-col size="9">
      <ion-label class="title-content">Tóm tắt đơn hàng</ion-label>
    </ion-col>
    <ion-col size="3" class="fl-r3px">
      <ion-button class="btn-href" fill="clear" size="small" (click)="openHome()">Mua thêm</ion-button>
    </ion-col>
  </ion-row>
  <ion-list class="products">
    <div *ngFor="let item of cart">
      <ion-item *ngFor="let product of loadCartProduct(item)">
        <ion-row>
          <ion-col size="4">
            <img src="{{product.images[0]}}" alt="">
          </ion-col>
          <ion-col size="6" class="col-2">
            <div class="div-1">
              <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
              <ion-note>{{product.name}}</ion-note>
            </div>
            <ion-label color="success" class="cost-label">Đơn giá: {{product.price}}đ</ion-label>
            <div class="div-2">
              <ion-button fill="clear">
                <ion-icon name="remove"></ion-icon>
              </ion-button>
              <ion-label>{{item.quantity}}</ion-label>
              <ion-button fill="clear">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
          <ion-col>
            <ion-label></ion-label>
          </ion-col>
          <ion-col size="2" class="col-3">
            <ion-icon name="close"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
  </ion-list>
  <div class="line"></div>

  <ion-item>
    <ion-row class="discount-row">
      <ion-col size="5">
        <ion-icon color="danger" name="pricetag"></ion-icon>
        <ion-label>Mã giảm giá</ion-label>
      </ion-col>

      <ion-col size="7">
        <ion-button>Chọn mã giảm giá</ion-button>
        <ion-button fill="clear">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row class="cost-row">
        <ion-col size="6">
          <ion-text>Tổng tạm tính</ion-text>
        </ion-col>
        <ion-col size="6" class="text-r">
          <ion-text class="cost-right">40.000đ</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="cost-row">
        <ion-col size="6">
          <ion-text>Phí áp dụng <ion-icon name="information-outline"></ion-icon>
          </ion-text>
        </ion-col>
        <ion-col size="6" class="text-r">
          <ion-text class="cost-right">19.000</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-row lines="none" class="title-row">
    <ion-col>
      <ion-label class="title-content">Phương thức thanh toán</ion-label>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-row class="method-pay-row">
      <ion-col size="6">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-text>Tiền mặt</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-icon name="flower-outline"></ion-icon>
        <ion-text>Ưu đãi</ion-text>
      </ion-col>
    </ion-row>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="6">
        <ion-label class="text-14">Tổng cộng</ion-label>
      </ion-col>
      <ion-col size="6" class="text-r">
        <ion-label class="title-header">
          50.000đ
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-button color="success" class="btn-footer" (click)="Purchase()">Đặt đơn</ion-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>