<ion-header>
  <ion-toolbar>
    <ion-row>
      <div>
        <ion-buttons class="backTop" slot="start">
          <ion-back-button icon="chevron-back-outline" defaultHref="login"></ion-back-button>
        </ion-buttons>
      </div>
      <ion-col class="mid">
        <ion-title class="title-header">Sign Up</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="signUpForm">
    <div class="logo-div">
      <img src="../../../assets/images/vegetables.png" alt="">
    </div>

    <div class="margin-bottom"></div>
    <ion-item class="input-item" lines="full">
      <ion-label position="floating">Full Name</ion-label>
      <ion-input type="text"required></ion-input>
    </ion-item>

    <div class="margin-bottom"></div>
    <ion-item class="input-item" lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text" #email required></ion-input>
    </ion-item>

    <div class="margin-bottom"></div>
    <ion-item class="input-item" lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password" #password required></ion-input>
    </ion-item>

    <div class="margin-bottom"></div>
    <ion-item class="input-item" lines="full">
      <ion-label position="floating">RePassword</ion-label>
      <ion-input formControlName="rePassword" type="password" #rePassword required></ion-input>
    </ion-item>

    <div class="margin-bottom"></div>
    <ion-row class="sign-in-row">
      <ion-col>
        <ion-button [disabled]="!signUpForm.valid&&!checkPassword(password, rePassword)" type="submit"
          (click)="signUp(email, password)" expand="block">Sign up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>